<div class="flag-rel-card border-1 surface-border border-round p-3 mx-auto">
  <p-table
    stripedRows
    size="small"
    showGridlines
    [rowHover]="true"
    [value]="installments()"
    [tableStyle]="{ width: '100%' }"
    class="p-datatable-sm mt-1 cs-admin-table"
  >
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: 60px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 90px" />
        <col style="width: 90px" />
        <col style="width: 90px" />
        <col style="width: 90px" />
        <col style="width: 90px" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">{{ 'transactions.fields.installment' | translate }}</th>
        <th class="text-center">{{ 'transactions.fields.forecast' | translate }}</th>
        <th class="text-center">{{ 'transactions.fields.paymentDate' | translate }}</th>
        <th class="text-center">{{ 'transactions.fields.grossValue' | translate }}</th>
        <th class="text-center">{{ 'transactions.fields.discountValue' | translate }}</th>
        <th class="text-center">{{ 'transactions.fields.liquidValue' | translate }}</th>
        <th class="text-center">{{ 'transactions.fields.rate' | translate }}</th>
        <th class="text-center">{{ 'transactions.fields.status' | translate }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td class="text-center font-medium">{{ row.installment || '-' }}</td>
        <td class="text-center">{{ row.expectedPaymentDate | csDate: 'date' }}</td>
        <td class="text-center">{{ row.paymentDate | csDate: 'date' }}</td>
        <td class="text-center">{{ row.grossValue | csCurrency }}</td>
        <td class="text-center">{{ row.discountValue | csCurrency }}</td>
        <td class="text-center">{{ row.liquidValue | csCurrency }}</td>
        <td class="text-center">{{ row.mdrRate / 100 | percent: '1.2-2' }}</td>
        <td class="cell-muted text-center">
          <cs-tag
            [value]="statusPaymentBankLabel(row.statusPaymentBank)"
            [tone]="statusPaymentBankSeverity(row.statusPaymentBank)"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center py-4 text-500">
          {{ 'pagination.emptymessage' | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
