<div class="cs-page">
  <div class="cs-page__header">
    <div>
      <p class="cs-page__eyebrow">{{ 'conciliation.settings.eyebrow' | translate }}</p>
      <h1>{{ 'conciliation.settings.title' | translate }}</h1>
      <span>{{ 'conciliation.settings.subtitle' | translate }}</span>
    </div>
  </div>

  <p-card>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="cs-settings-grid">
        <div class="cs-settings-field">
          <p-floatlabel>
            <p-inputnumber
              [allowEmpty]="false"
              [showButtons]="true"
              [min]="MIN_DAYS_LOOKBACK"
              [max]="MAX_DAYS_LOOKBACK"
              inputId="erpAcquirerPreviousDaysLookback"
              formControlName="erpAcquirerPreviousDaysLookback"
            ></p-inputnumber>
            <label for="erpAcquirerPreviousDaysLookback">
              {{ 'conciliation.settings.erpAcquirerPreviousDaysLookback' | translate }}
            </label>
          </p-floatlabel>
          <small class="cs-field-hint">
            {{ 'conciliation.settings.erpAcquirerPreviousDaysLookbackHint' | translate }}
          </small>
        </div>

        <div class="cs-settings-field">
          <p-floatlabel>
            <p-inputnumber
              [allowEmpty]="false"
              [showButtons]="true"
              [min]="MIN_DAYS_LOOKBACK"
              [max]="MAX_DAYS_LOOKBACK"
              inputId="erpAcquirerFutureDaysLookback"
              formControlName="erpAcquirerFutureDaysLookback"
            ></p-inputnumber>
            <label for="erpAcquirerFutureDaysLookback">
              {{ 'conciliation.settings.erpAcquirerFutureDaysLookback' | translate }}
            </label>
          </p-floatlabel>
          <small class="cs-field-hint">
            {{ 'conciliation.settings.erpAcquirerFutureDaysLookbackHint' | translate }}
          </small>
        </div>

        <div class="cs-settings-field">
          <p-floatlabel>
            <p-inputnumber
              [showButtons]="true"
              [allowEmpty]="false"
              [min]="MIN_LOOKBACK_MONTHS"
              [max]="MAX_LOOKBACK_MONTHS"
              inputId="reconciliationLookbackMonths"
              formControlName="reconciliationLookbackMonths"
            ></p-inputnumber>
            <label for="reconciliationLookbackMonths">
              {{ 'conciliation.settings.reconciliationLookbackMonths' | translate }}
            </label>
          </p-floatlabel>
          <small class="cs-field-hint">
            {{ 'conciliation.settings.reconciliationLookbackMonthsHint' | translate }}
          </small>
        </div>

        <div class="cs-settings-field">
          <p-floatlabel>
            <p-inputnumber
              [showButtons]="true"
              [allowEmpty]="false"
              [min]="MIN_PENDING_DAYS"
              [max]="MAX_PENDING_DAYS"
              inputId="creditOrderPendingDays"
              formControlName="creditOrderPendingDays"
            ></p-inputnumber>
            <label for="creditOrderPendingDays">
              {{ 'conciliation.settings.creditOrderPendingDays' | translate }}
            </label>
          </p-floatlabel>
          <small class="cs-field-hint">
            {{ 'conciliation.settings.creditOrderPendingDaysHint' | translate }}
          </small>
        </div>
      </div>

      @if (canEdit()) {
        <div class="cs-settings-actions">
          <p-button
            type="submit"
            icon="pi pi-save"
            [loading]="saving()"
            [label]="'common.save' | translate"
            [disabled]="loading() || form.invalid"
          ></p-button>
        </div>
      }
    </form>
  </p-card>
</div>
