:host ::ng-deep .p-dialog .p-dialog-content {
  padding-top: 0.75rem;
}

.cs-dialog-form {
  width: 100%;
}

/* deixa o dialog bem "tight" no estilo CardSync */
:host ::ng-deep .p-dialog .p-dialog-header {
  padding: 0.75rem 1rem;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  padding: 0.75rem 1rem;
}
