<div class="flag-rel-card border-1 surface-border border-round p-3 mx-auto">
  <div class="cs-relation-card-header flex align-items-center justify-content-between gap-3 mb-3">
    <div class="cs-relation-card-title flex align-items-center gap-2 text-primary font-semibold">
      <i class="pi pi-briefcase"></i>
      <span>{{ 'acquirer.relationships.linkedEstablishments' | translate }}</span>
    </div>

    <button
      pButton
      type="button"
      icon="pi pi-plus-circle"
      (click)="openAddDialog()"
      [disabled]="!secPolicy.canManageRelations()"
      [label]="'acquirer.relationships.add' | translate"
      class="p-button-success p-button-sm relation-add-btn"
    ></button>
  </div>

  <p-table
    size="small"
    showGridlines
    styleClass="cs-admin-table"
    class="p-datatable-sm mt-1"
    [tableStyle]="{ width: '100%' }"
    [value]="acquirer().establishments ?? []"
  >
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: auto" />
        <col style="width: 150px" />
        <col style="width: 120px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 60px" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">{{ 'acquirer.columns.company' | translate }}</th>
        <th class="text-center">{{ 'acquirer.columns.cnpj' | translate }}</th>
        <th class="text-center">{{ 'acquirer.columns.pvNumber' | translate }}</th>
        <th class="text-center">{{ 'acquirer.columns.typeEnum' | translate }}</th>
        <th class="text-center">{{ 'acquirer.columns.statusEnum' | translate }}</th>
        <th class="text-center">{{ 'common.actions' | translate }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="text-center">{{ item.company?.fantasyName }}</td>
        <td class="text-center">{{ item.company?.cnpj | csDocument }}</td>
        <td class="text-center">{{ item.pvNumber | csDocument }}</td>

        <td class="text-center">
          <p-tag
            [value]="typeEstablishmentEnumLabel(item.type)"
            [severity]="severityTypeEstablishmentEnum(item.type)"
          ></p-tag>
        </td>

        <td class="text-center">
          <p-tag
            [value]="statusLabel(item.status)"
            [severity]="statusSeverity(item.status)"
          ></p-tag>
        </td>

        <td class="text-center">
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            [disabled]="!canRemoveRelations()"
            class="p-button-text p-button-sm p-button-danger"
            (click)="confirmRemoveEstablishment(item.establishmentId, item.pvNumber)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [modal]="true"
  appendTo="body"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
  [visible]="addVisible()"
  (onHide)="closeAddDialog()"
  [style]="{ width: '820px', maxWidth: '95vw' }"
  [contentStyle]="{ overflow: 'visible' }"
  [breakpoints]="{ '992px': '95vw', '768px': '100vw' }"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2">
      <i class="pi pi-briefcase text-primary"></i>
      <span>{{ 'acquirer.relationships.addEstablishmentToAcquirer' | translate }}</span>
      <span class="cs-flag-highlight">{{ acquirer().fantasyName }}</span>
    </div>
  </ng-template>

  <form [formGroup]="form" class="cs-dialog-form">
    <div class="grid formgrid gap-0">
      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            appendTo="body"
            optionValue="id"
            inputId="companyId"
            optionLabel="fantasyName"
            formControlName="companyId"
            [options]="companyOptions()"
            [invalid]="
              form.controls.companyId.invalid &&
              (form.controls.companyId.dirty || form.controls.companyId.touched)
            "
          >
            <ng-template let-option pTemplate="item">
              <div class="cs-option-item">
                <div class="cs-option-item__label">{{ option.fantasyName }}</div>
                <div class="cs-option-item__subtext">
                  N° Inscrição: {{ option.cnpj | csDocument }}
                </div>
              </div>
            </ng-template>
          </p-select>

          <app-error-msg
            [field]="'company'"
            [forId]="'companyId'"
            [control]="form.controls.companyId"
            [label]="'establishment.fields.company' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <input
            readonly
            pInputText
            type="text"
            id="relationAcquirer"
            class="w-full p-inputtext-sm"
            [value]="acquirer().fantasyName"
          />
          <label for="relationAcquirer">
            {{ 'establishment.fields.acquirer' | translate }}
          </label>
        </p-floatLabel>
      </div>
    </div>

    <div class="grid formgrid gap-0">
      <div class="col-12 md:col-4 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            appendTo="body"
            inputId="status"
            optionValue="value"
            optionLabel="label"
            formControlName="status"
            [options]="statusOptions()"
            [invalid]="
              form.controls.status.invalid &&
              (form.controls.status.dirty || form.controls.status.touched)
            "
          ></p-select>

          <app-error-msg
            [field]="'status'"
            [forId]="'status'"
            [control]="form.controls.status"
            [label]="'establishment.fields.statusEnum' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-4 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            appendTo="body"
            inputId="type"
            optionValue="value"
            optionLabel="label"
            formControlName="type"
            [options]="typeEstablishmentOptions()"
            [invalid]="
              form.controls.type.invalid && (form.controls.type.dirty || form.controls.type.touched)
            "
          ></p-select>

          <app-error-msg
            [field]="'type'"
            [forId]="'type'"
            [control]="form.controls.type"
            [label]="'establishment.fields.typeEnum' | translate"
          />
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-4 p-2">
        <p-floatLabel variant="on" class="w-full">
          <input
            pInputText
            type="text"
            id="pvNumber"
            autocomplete="off"
            inputmode="numeric"
            formControlName="pvNumber"
            class="w-full p-inputtext-sm"
          />
          <app-error-msg
            [field]="'pvNumber'"
            [forId]="'pvNumber'"
            [control]="form.controls.pvNumber"
            [label]="'establishment.fields.pvNumber' | translate"
          />
        </p-floatLabel>
      </div>
    </div>

    <div class="flex justify-content-end p-2 pt-0">
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        (click)="addRelationToList()"
        class="p-button-success p-button-sm"
        [label]="'acquirer.relationships.add' | translate"
        [disabled]="!secPolicy.canManageRelations() || form.invalid"
      ></button>
    </div>
  </form>

  <p-table
    size="small"
    showGridlines
    styleClass="cs-admin-table"
    class="p-datatable-sm mt-2"
    [value]="pendingRelations()"
    [tableStyle]="{ width: '100%' }"
  >
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: 130px" />
        <col style="width: auto" />
        <col style="width: 150px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 80px" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">{{ 'acquirer.columns.name' | translate }}</th>
        <th class="text-center">{{ 'acquirer.columns.company' | translate }}</th>
        <th class="text-center">{{ 'acquirer.columns.cnpj' | translate }}</th>
        <th class="text-center">{{ 'acquirer.columns.typeEnum' | translate }}</th>
        <th class="text-center">{{ 'acquirer.columns.pvNumber' | translate }}</th>
        <th class="text-center">{{ 'common.actions' | translate }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="text-center">{{ acquirer().fantasyName }}</td>
        <td class="text-center">{{ item.company?.fantasyName }}</td>
        <td class="text-center">{{ item.company?.cnpj | csDocument }}</td>
        <td class="text-center">{{ typeEstablishmentEnumLabel(item.type) }}</td>
        <td class="text-center">{{ item.pvNumber }}</td>
        <td class="text-center">
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-text p-button-sm p-button-danger"
            (click)="removePendingRelation(item.pvNumber)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="closeAddDialog()"
      icon="pi pi-times"
      class="p-button-text p-button-sm"
      [label]="'common.cancel' | translate"
    ></button>

    <button
      pButton
      type="button"
      (click)="saveRelations()"
      icon="pi pi-save"
      class="p-button-sm"
      [loading]="saving()"
      [label]="'common.save' | translate"
      [disabled]="saving() || !pendingRelations().length"
    ></button>
  </ng-template>
</p-dialog>
