<div class="flag-rel-card border-1 surface-border border-round p-3 mx-auto">
  <div class="cs-relation-card-header flex align-items-center justify-content-between gap-3 mb-3">
    <div class="cs-relation-card-title flex align-items-center gap-2 text-primary font-semibold">
      <i class="pi pi-building"></i>
      <span>{{ 'acquirer.relationships.linkedCompanies' | translate }}</span>
    </div>

    <button
      pButton
      type="button"
      icon="pi pi-plus-circle"
      (click)="openAddDialog()"
      [disabled]="!secPolicy.canManageRelations()"
      [label]="'acquirer.relationships.add' | translate"
      class="p-button-success p-button-sm relation-add-btn"
    ></button>
  </div>

  <p-table
    stripedRows
    size="small"
    showGridlines
    [rowHover]="true"
    [tableStyle]="{ width: '100%' }"
    [value]="acquirer().companies ?? []"
    class="p-datatable-sm mt-1 cs-admin-table"
  >
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: auto" />
        <col style="width: 150px" />
        <col style="width: 150px" />
        <col style="width: 60px" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">{{ 'company.columns.fantasyName' | translate }}</th>
        <th class="text-center">{{ 'company.columns.cnpj' | translate }}</th>
        <th class="text-center">{{ 'company.columns.statusEnum' | translate }}</th>
        <th class="text-center">{{ 'common.actions' | translate }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="text-center">{{ item.fantasyName }}</td>
        <td class="text-center">{{ item.cnpj | csDocument }}</td>
        <td class="text-center">
          <cs-tag [value]="statusLabel(item.status)" [tone]="statusSeverity(item.status)" />
        </td>
        <td class="text-center">
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            [disabled]="!canRemoveRelations()"
            class="p-button-text p-button-sm p-button-danger"
            (click)="confirmRemoveCompany(item.companyId, item.fantasyName)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [modal]="true"
  appendTo="body"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
  [visible]="addVisible()"
  (onHide)="closeAddDialog()"
  [style]="{ width: '800px', maxWidth: '95vw' }"
  [contentStyle]="{ overflow: 'visible', height: '100%' }"
  [breakpoints]="{ '1400px': '95vw', '992px': '98vw', '768px': '100vw' }"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2">
      <i class="pi pi-building text-primary"></i>
      <span>{{ 'acquirer.relationships.addCompanyToAcquirer' | translate }}</span>
      <span class="cs-flag-highlight">{{ acquirer().fantasyName }}</span>
    </div>
  </ng-template>

  <form [formGroup]="form" class="cs-dialog-form">
    <div class="grid formgrid gap-0">
      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <input
            readonly
            pInputText
            type="text"
            id="relationAcquirer"
            class="w-full p-inputtext-sm"
            [value]="acquirer().fantasyName"
          />
          <label for="relationAcquirer">
            {{ 'establishment.fields.acquirer' | translate }}
          </label>
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-6 p-2">
        <p-floatLabel variant="on" class="w-full">
          <p-select
            size="small"
            class="w-full"
            appendTo="body"
            optionValue="id"
            inputId="companyId"
            optionLabel="fantasyName"
            formControlName="companyId"
            [options]="availableOptions()"
            [invalid]="
              form.controls.companyId.invalid &&
              (form.controls.companyId.dirty || form.controls.companyId.touched)
            "
          >
            <ng-template let-option pTemplate="item">
              <div class="cs-option-item">
                <div class="cs-option-item__label">{{ option.fantasyName }}</div>
                <div class="cs-option-item__subtext">
                  N° Inscrição: {{ option.cnpj | csDocument }}
                </div>
              </div>
            </ng-template>
          </p-select>

          <app-error-msg
            [field]="'company'"
            [forId]="'companyId'"
            [control]="form.controls.companyId"
            [label]="'acquirer.fields.company' | translate"
          />
        </p-floatLabel>
      </div>
    </div>

    <div class="flex justify-content-end p-2 pt-0">
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        (click)="addRelationToList()"
        class="p-button-success p-button-sm"
        [label]="'acquirer.relationships.add' | translate"
        [disabled]="!secPolicy.canManageRelations() || form.invalid"
      ></button>
    </div>
  </form>

  <p-table
    size="small"
    showGridlines
    class="cs-admin-table"
    [value]="pendingRelations()"
    [tableStyle]="{ width: '100%' }"
  >
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: 140px" />
        <col style="width: auto" />
        <col style="width: 80px" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">{{ 'acquirer.columns.name' | translate }}</th>
        <th class="text-center">{{ 'company.columns.fantasyName' | translate }}</th>
        <th class="text-center">{{ 'common.actions' | translate }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="text-center">{{ acquirer().fantasyName }}</td>
        <td class="text-center">{{ item.fantasyName }}</td>
        <td class="text-center">
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            (click)="removePendingCompany(item.id)"
            class="p-button-text p-button-sm p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-3">
      <button
        pButton
        type="button"
        icon="pi pi-times"
        class="p-button-text"
        (click)="closeAddDialog()"
        [label]="'common.cancel' | translate"
      ></button>

      <button
        pButton
        type="button"
        icon="pi pi-save"
        [loading]="saving()"
        (click)="saveRelations()"
        [disabled]="!secPolicy.canManageRelations()"
        [label]="'acquirer.relationships.saveLinks' | translate"
      ></button>
    </div>
  </ng-template>
</p-dialog>
